html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body{
    background: #dedfe1;
    font-family: helvetica, arial, sans-serif;
}

body { font-size: 62.5%; }

.wrapper {
    width: 100%;
    padding: 20px;
    background: #fff;
}

.group:after {
    display: 'table';
    content: '';
    clear: both;
}

@media (min-width: 768px) {
    .wrapper {
        width: 760px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        width: 1000px;
    }
}
