* {
  font-family: 'Open Sans', sans-serif; }

a {
  color: red;
  text-decoration: none; }

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.item {
  -webkit-box-flex: 1 200px;
  -moz-box-flex: 1 200px;
  -webkit-flex: 1 200px;
  -ms-flex: 1 200px;
  flex: 1 200px;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2; }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.flex-item {
  padding: 20px;
  width: 150px;
  height: 75px;
  margin-top: 20px;
  line-height: 25px;
  background-color: lightgrey;
  font-weight: bold;
  text-align: center; }
  .flex-item .classTitle {
    display: inline; }
  .flex-item .classSections {
    display: none;
    text-align: justify; }
  .flex-item:hover {
    font-size: 100%;
    line-height: 25px;
    transform: scale(1.2);
    background-color: yellow; }
    .flex-item:hover a {
      color: white; }
    .flex-item:hover .classTitle {
      display: none; }
    .flex-item:hover .classSections {
      display: inline; }

.navigation {
  list-style: none;
  margin: 0;
  background: lightgrey;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end; }

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: red; }
  .navigation a.current {
    transform: scale(1.2);
    background: yellow;
    color: white; }

.navigation a:hover {
  transform: scale(1.2);
  background: yellow;
  color: white; }

.imgA {
  display: flex;
  margin: 0px auto;
  border: 0px solid black;
  height: auto; }
  .imgA img {
    display: flex;
    max-width: 100%;
    padding: 0px;
    position: relative; }

.imgB {
  display: flex;
  margin: -10px auto;
  border: 0px solid black;
  width: 30%; }

.headerText {
  font-stretch: ultra-expanded;
  font-weight: bolder;
  position: absolute;
  background-color: white;
  top: 0px;
  left: 0;
  text-align: center;
  width: 100%; }
  .headerText span {
    background-color: white;
    color: red;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 15px; }
  .headerText:hover {
    background-color: yellow;
    color: white; }

@media all and (min-width: 800px) {
  .flex-item {
    width: 250px; } }

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around; }
  .flex-item:hover {
    font-size: 75%; } }

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
    padding: 0; }
  .navigation a {
    text-align: center;
    padding: 0px;
    border-top: 0px solid rgba(255, 255, 255, 0.3);
    border-bottom: 0px solid rgba(0, 0, 0, 0.1); }
  .navigation li:last-of-type a {
    border-bottom: none; }
  .flex-item {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    line-height: 20  px;
    font-size: 100%; }
    .flex-item:hover {
      line-height: 20px;
      transform: none; }
      .flex-item:hover a {
        color: gray; } }
