.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.item {
  -webkit-box-flex: 1 200px;
  -moz-box-flex: 1 200px;
  -webkit-flex: 1 200px;
  -ms-flex: 1 200px;
  flex: 1 200px;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2; }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center; }

.imgA {
  display: block;
  margin: 0px auto;
  border: 0px solid black;
  width: 300px; }

.imgA img {
  display: block;
  max-width: 100%;
  padding: 5px; }

.imgB {
  display: block;
  margin: 40px auto;
  border: 0px solid black;
  width: 100%; }
