<!DOCTYPE html>
    <head>
    <!--meta content-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>EWT index page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/style.nested.css">
    <!--Scripts-->
        <script>document.createElement( "picture" );</script>
        <script src="js/picturefill.js" async></script>
        <script src="_scripts/modernizr-custom.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    </head>

<!--Header here-->
<body>
  <header>
  <h1="header">
  <!--head responsive images-->
<a href="index.html">
  <figure class="imgA">
  <img src="images/headerl.jpg"
      srcset="images/header-small.jpg 400w,
              images/header-medium.jpg 700w,
              images/header-large.jpg 1000w"
      sizes="100vw"
      alt="Emergent Web Technologies">

<div class="headerText">EMERGENT WEB TECH</div>
  </figure>
</a>

  </h1>
  </header>
      <!--Flex Navigation-->
    <ul class="navigation">
      <li><a href="coursework.html">Coursework</a></li>
      <li><a href="info.html">Info</a></li>
      <li><a href="mailto:karsten.osterby@loop.colum.edu?Subject=Salutations" target="_top">Contact</a></li>
    </ul>
{{content}}
