/* apply a natural box layout model to all elements, but allowing components to change */

$color01 : #EB2B69;
$textshadow : 1px 1px 1px rgba(0, 0, 0, 0.5);
$screensmall : 480px;
$screenmed : 760px;
$screenlarge : 1000px;
$full : 100%;

@import 'hovering';

html {
    box-sizing: border-box;


*, *:before, *:after {
    box-sizing: inherit;


 body {
    font-size: 62.5%;
      }
}
.wrapper {
    width: $full;
    font-size: 1.6rem;
    line-height: 1.3;
    overflow: hidden;
    padding: 40px 20px;
}

.site-header {
    text-align: center;
    background: $color01;
    color: white;
    padding: 10px 0;
    margin-bottom: 10px;
}

.h1 {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-shadow: $textshadow;
    font-size: 3.2rem;
}
.h2 {
  @extend .h1;
    font-size: 2.4rem;
    &:before,
    &:after {
    content: '\7e';
    padding: 0 5px;
  }
}

.h3 {
  @extend .h1;
    font-size: 2rem;
}

.plain-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-item {
    text-align: center;
 a {
    background: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: all 0.2s ease;
    color: $color01;
    font-weight: bold;
    letter-spacing: 0.05rem;
    &:hover {
    background: rgba(240, 240, 240, 0.5);
    @include hovering(1.2, 5deg, 1.2, 5deg);
    color: #b81147;
  }
}

.nav-social a:hover {
  @include hovering(1.5, 360deg, 1.5, 360deg);
}

.imgA {
    display: block;
    margin: 40px auto;
    border: 4px solid black;
    width: 300px;
 img {
    display: block;
    max-width: $full;
}

.imgB {
  @extend .imgA;
    width: $full;
}

@media (min-width: $screensmall) {
    .imgB {
        width: 80%;
    }
}

@media (min-width: $screenmed) {
    body {
        background-image: url("images/bg-map.jpg");
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
        margin: 40px auto;
        width: $full;
    }

    .site-nav {
        border-bottom: 1px dotted #ccc;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
    .nav-item {
        float: left;
        width: 16.4%;
    }

    .nav-item.nav-social {
        width: 6%;
    }

    .wrapper {
        background: rgba(255, 255, 255, 0.75);
        width: $screenmed;
        margin: 0 auto;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    }

    .imgA {
        width: 600px;
    }

    .imgB {
        display: inline-block;
        float: left;
        width: 300px;
        margin: 0 20px 20px 0;
    }
}

@media (min-width: $screenlarge) {
    .wrapper {
        width: $screenlarge;
        padding: 60px 40px;
    }

    .imgA {
        width: 900px;
    }

    .imgB {
        width: 450px;
      }
    }
  }
}
}
